<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-DOXMLfHhQkvFFp+rWTZwVlPVqdIhpDVYT9csOnHSgWQWPX0v5MCGtjCJbY6ERspU" crossorigin="anonymous">

  <title> {% block title %}{% endblock title %} </title>
  <!-- sweetalert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- player -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- jquery  -->
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

  <!-- tailwind css cdn  -->
  <script src="https://cdn.tailwindcss.com"></script>

  {% block headers %}{% endblock headers %}

</head>

<body id="mode" class="bg-gray-200 text-black">

  <header class="bg-rose sticky top-0 z-50">
    <div class="container mx-auto p-2">
      <nav class="flex items-center">
        <h2 class="text-2xl font-bold mr-4">Mood Music</h2>
        <a class="mr-4" href="/about">About</a>
        <a class="mr-4" href="/contact">Contact</a>

        <label class="items-center">
          <input type="checkbox" id="toggle-mode" class="hidden">
          <span class="bg-transparents w-6 h-6 cursor-pointer">
            <span class="block transition-all ease-out duration-200" id="toggle-dot">
              <i id="modeicon" class="bi bi-sun-fill"></i>
            </span>
          </span>
        </label>
      </nav>
      
    </div>

    {% block headerin %}{% endblock headerin %}

  </header>

  <main class="container mx-auto my-3">


    <!-- Message Interation  -->

    <div>
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong> {{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"> &times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      <!-- Message Interation End -->
    </div>

    {% block body %}{% endblock body %}
  </main>


  <footer class="bg-transparent sticky bottom-0 z-50">
    <div class="container mx-auto p-2">
      {% include 'navbar.html' %}
      <p class="text-center text-gray-500">&copy; 2022/23 Mood Music</p>
    </div>
  </footer>


</body>

{% block scripts %}{% endblock scripts %}

<script>
  const toggle = document.getElementById("toggle-mode");
  const dot = document.getElementById("toggle-dot");
  const body = document.body;
  const icon = document.getElementById('modeicon');
  toggle.addEventListener("change", function() {
    if (this.checked) {
      body.classList.remove("bg-gray-200");
      body.classList.remove("text-black");
      body.classList.add("bg-gray-900");
      body.classList.add("text-white");
      dot.style.left = "calc(100% - 3px)";
      icon.setAttribute('class','bi bi-moon-fill')
    } else {
      body.classList.remove("bg-gray-900");
      body.classList.remove("text-white");
      body.classList.add("bg-gray-200");
      body.classList.add("text-black");
      dot.style.left = "0";
      icon.setAttribute('class','bi bi-sun-fill')
    }
  });
</script>

</html>