{% extends 'base.html' %}

{% block title %}History{% endblock title %}

{% block body %}
{% include 'playercard.html' %}

{% include 'navbar.html' %}



<h1 style="text-align: center; color: aqua;"> History</h1>
<!-- logic for empty History  start-->
{% if history|length < 1%} <h3 style="color: blueviolet; text-align: center; margin-top: 3%;"> You don't have any Song
    in History </h1>

    {% endif %}
    <!-- logic for empty History  end-->

    <div class="container">

        <div class="container my-3">
            {% for i in history reversed%}
            <div class="card mb-3" style="max-width: 940px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/media/{{i.image}}" class="img-fluid rounded-start" alt="..." name="imgsrc">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" style="color:blueviolet;" name="titlesrc">Title: {{i.title}}</h5>
                            <p class="card-text"> Tag: {{i.tags}}</p>
                            <p class="card-text"> copyrights: {{i.copyrights}}</p>
                            <p class="card-text"><small class="text-muted" name="artistsrc">Artist: {{i.artist}}</small></p>
                            <a href="/music/songlisten/{{i.song_id}}"> <button class="btn btn-outline-danger">Listen
                                    Now</button></a>
                            <source src="/media/{{i.song}}" name="mediasource">
                            <button class="btn btn-outline-danger" id="ms" name="btns"> Play Now</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>

    <script src="/static/javascript/listenlaters.js"></script>
    {% endblock body %}