{% extends 'base.html' %}

{% block title %} Home{% endblock title %}

{% block body %}
{% include 'playercard.html' %}

{% include 'navbar.html' %}
<!-- carousel start -->

<!-- carousel end -->

<link rel="stylesheet" href="/static/css/home.css">
<div class="container">
    <div>
        <!-- Recently Added Song start -->
        <div class="hold">
            <div class="wrapper">
                <h1> Recently Added</h1>
                <div class="cards-in">
                    {% for i in song reversed %}
                    <div class="card-in" name="btns">

                        <div class="overlayer">
                            <i class="far fa-play-circle"></i>
                        </div>

                        <img src="{{i.image.url}}" alt="" name=imgsrc>

                        {% if request.user.is_authenticated %}
                        <form action="/music/history" method="post">{% csrf_token %}
                            <input type="hidden" name="music_id" value="{{i.song_id}}">
                            <div class="title-in">
                                <a href="/music/songlisten/{{i.song_id}}"><button type="submit"
                                        class="hbtn">{{i.title}}</button></a>
                            </div>
                        </form>
                        {% else %}
                        <div class="title-in">
                            <a href="/music/songlisten/{{i.song_id}}"><button class="hbtn">{{i.title}}</button></a>
                        </div>
                        {% endif %}


                    </div>
                    <div class="othercard" hidden>
                        <p class="card-text" name="titlesrc">{{i.title}}</p>
                        <p class="card-text" name="artistsrc">{{i.artist}}</p>
                    </div>
                    <source src="{{i.song.url}}" name="mediasource">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Recently Added Song end -->
    {% if user.is_authenticated %}
    <!-- History Song start -->

    <div class="hold">
        <div class="wrapper">
            <h1> {{request.user}}'s History</h1>
            {% if historys|length < 1 %} <h3 style="color: white; text-align: center; margin-top: 3%;"> You don't have
                any
                Song
                in
                history </h1>
                {% endif %}

                <div class="cards-in">
                    {% for i in historys reversed %}
                    <div class="card-in" name="btns">

                        <div class="overlayer">
                            <i class="far fa-play-circle"></i>
                        </div>

                        <img src="{{i.image.url}}" alt="" name=imgsrc>

                        {% if request.user.is_authenticated %}
                        <form action="/music/history" method="post">{% csrf_token %}
                            <input type="hidden" name="music_id" value="{{i.song_id}}">
                            <div class="title-in">
                                <a href="/music/songlisten/{{i.song_id}}"><button type="submit"
                                        class="hbtn">{{i.title}}</button></a>
                            </div>
                        </form>
                        {% else %}
                        <div class="title-in">
                            <a href="/music/songlisten/{{i.song_id}}"><button class="hbtn">{{i.title}}</button></a>
                        </div>
                        {% endif %}
                    

                    </div>
                    <div class="othercard" hidden>
                        <p class="card-text" name="titlesrc">{{i.title}}</p>
                        <p class="card-text" name="artistsrc">{{i.artist}}</p>
                    </div>
                    <source src="{{i.song.url}}" name="mediasource">
                    {% endfor %}
                </div>
        </div>
    </div>

    <!-- History Song start -->

    <!-- Listen Later Song start -->
    <div class="hold">
        <div class="wrapper">
            <h1> {{request.user}}'s Listen Later</h1>
            {% if listenlaters|length < 1 %} <h3 style="color: white; text-align: center; margin-top: 3%;"> You don't
                have any
                Song
                in
                listenlaters </h1>
                {% endif %}

                <div class="cards-in">
                    {% for i in listenlaters reversed %}
                    <div class="card-in" name="btns">

                        <div class="overlayer">
                            <i class="far fa-play-circle"></i>
                        </div>

                        <img src="{{i.image.url}}" alt="" name=imgsrc>

                        {% if request.user.is_authenticated %}
                        <form action="/music/history" method="post">{% csrf_token %}
                            <input type="hidden" name="music_id" value="{{i.song_id}}">
                            <div class="title-in">
                                <a href="/music/songlisten/{{i.song_id}}"><button type="submit"
                                        class="hbtn">{{i.title}}</button></a>
                            </div>
                        </form>
                        {% else %}
                        <div class="title-in">
                            <a href="/music/songlisten/{{i.song_id}}"><button class="hbtn">{{i.title}}</button></a>
                        </div>
                        {% endif %}
                    

                    </div>
                    <div class="othercard" hidden>
                        <p class="card-text" name="titlesrc">{{i.title}}</p>
                        <p class="card-text" name="artistsrc">{{i.artist}}</p>
                    </div>
                    <source src="{{i.song.url}}" name="mediasource">
                    {% endfor %}
                </div>
        </div>
    </div>


    {% endif %}
    <!-- Listen Later Song end -->




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Playlist start -->
    <div class="hold">
        <div class="wrapper_2">
            <h1> Channels</h1>
            <div class="cards-in">
                {% for i in channels %}
                <div class="card-in-p">
                    <div class="overlayer-p">
                        <!-- <i class="far fa-play-circle"></i> -->
                        <!-- <i class="fas fa-list-music"></i> -->
                        <i class="fa-solid fa-list-music"></i>
                    </div>

                    <a href="/music/channel/{{i.name}}">
                        <img src="/static/img/image1.png" alt="..">
                    </a>

                    <div class="title-in-playlist">
                        <a href="/music/channel/{{i.name}}">{{i.name}}</a>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Playlist end -->





<script src="/static/javascript/listenlaters.js"></script>

{% endblock body %}