{% extends 'base.html' %}

{% block title %}Playing{% endblock title %}

{% block body %}

{% include 'playercard.html' %}

{% include 'navbar.html' %}

<!-- Listen Later script -->
{% if message %}
<script>
    Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: '{{message}}',
        showConfirmButton: false,
        timer: 1500
    })
</script>
{% endif %}

<!-- Download Button css  -->
<link rel="stylesheet" href="/static/css/button.css">


<div class="container-fluid">

    <div class="row my-4 mx-3">
        <div class="col-md-6">
            <img src="{{song.image.url}}" alt="" height="100%" width="100%" id="imgsrc">
        </div>
        <div class="col-md-6">
            <h2 style="color:red;">{{song.title}}</h2>
            <h3 style="color: lawngreen;">Artits : {{song.artist}}</h3>
            <h3 style="color: rgb(37, 129, 235);">Tag : {{song.tags}}</h3>
            <h3 style="color: rgb(37, 129, 235);">copyrights : {{song.copyrights}}</h3>
            <div>
                <audio controls style="padding-top: 2%;">
                    <source src="{{song.song.url}}" id="mediasource">
                </audio>
            </div>

            <div style="padding-top: 2%;">
                <div class="row" style=" flex-wrap: nowrap; margin-right: 65%;">
                    <form action="/music/songlisten/{{song.song_id}}" method="post">{% csrf_token %}
                        <input type="hidden" name="song_id" value="{{song.song_id}}">
                        <button type="submit" class="magic-btn"> Add to ListenLater</button>
                    </form>
                    <a href="{{song.song.url}}"><button class="magic-btn"><span>D</span> Download Here</button></a>
                </div>
            </div>
        </div>
    </div>


</div>


<script src="/static/javascript/play.js"></script>

{% endblock body %}