{% extends 'base.html' %}

{% block title %}Search Results{% endblock title %}
{% block headerin %}
{% include 'playercard.html' %}
{% endblock headerin %}

{% block body %}



<style>
    .pagination {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 30px;
        padding-bottom: 8px;
    }
    .pagination button{
        border-radius: 14px;
        position: relative;
        height: 25px;
        width: 67px;
        border-color: cornflowerblue;
        background:white;
    }

    .pagination a{
        text-decoration: none;
    }
    .pagination button:hover{
        background: rgb(146, 241, 117);
    }
</style>
<link rel="stylesheet" href="/static/css/home.css">

<div class="container" id = "resultId" style="padding-top: 3%; padding-bottom: 3%; font-size:medium; color: gray;" > Your Search Results for : {{keyword}}</div>

{% if songs %}

<div class="container">
    <div>
        <div class="hold">
            <div class="wrapper">
                <h1> Here something to blown You</h1>
                <div class="cards-in">
                    {% for i in songs reversed %}
                    <div class="card-in" name="btns">

                        <div class="overlayer">
                            <i class="far fa-play-circle"></i>
                        </div>

                        <img src="{{i.image.url}}" alt="" name=imgsrc>
                        {% if request.user.is_authenticated %}
                        <form action="/music/history" method="post">{% csrf_token %}
                            <input type="hidden" name="music_id" value="{{i.song_id}}">
                            <div class="title-in">
                                <a href="/music/songlisten/{{i.song_id}}"><button type="submit" class="hbtn">{{i.title}}</button> </a>
                            </div>
                        </form>
                        {% else %}
                        <div class="title-in">
                            <a href="/music/songlisten/{{i.song_id}}"><button  class="hbtn">{{i.title}}</button></a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="othercard" hidden>
                        <p class="card-text" name="titlesrc">{{i.title}}</p>
                        <p class="card-text" name="artistsrc">{{i.artist}}</p>
                    </div>
                    <source src="{{i.song.url}}" name="mediasource">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% else %}
<script>
    document.getElementById('resultId').innerHTML = "Can't find anything for:{{ keyword}}"
</script>
{% endif %}


<div style="margin: 15px;">

</div>

<div class="pagination">
    <span class="step-links">
        {% if songs.has_previous %}
        <button>
            <a href="?page=1">&laquo; First</a>
        </button>
        <button>
            <a href="?page={{ songs.previous_page_number }}">Previous</a>
        </button>
        {% endif %}
        <span class="current">
            Page {{ songs.number }} of {{ songs.paginator.num_pages }}.
        </span>
        {% if songs.has_next %}
        <button>
            <a href="?page={{ songs.next_page_number }}">Next</a>
        </button>
        <button>
            <a href="?page={{ songs.paginator.num_pages }}">Last &raquo;</a>
        </button>

        {% endif %}
    </span>
</div>

<script src="/static/javascript/listenlaters.js"></script>



{% endblock body %}